<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
        <link rel="stylesheet" href="../../css/style.css">

</head>
<body>
    <header>
        <section id="navbar">
            <div id="logo">
                <img src="../../assets/images/logoTeste.svg" alt="logo" srcset="">
            </div>
            <nav>
                <img src="../../assets/icons/shoppingCart.svg" alt="carrinho" srcset="">
            </nav>
        </section>

        
    </header>

    <main>
        <h1>Meu carrinho de compras</h1>
        <section id="left">
            <div id="produtos">
                <h2>Produtos escolhidos</h2>
                <hr>
                <div id="mostrarProdutos">
                    <!-- js -->
                </div>
            </div>            
        </section>

        <section id="right">
            <div id="total">
                <h2>Valor total</h2>
                <hr>
                <div class="calculo">
                    <h3>Entrega</h3>
                    <div class="opcoes">
                        <label for="#retirada">Retirada no local (+ R$ 0,00)</label><input type="radio" name="opcao" id="retirada">
                        <label for="#delivery">Delivery (+ R$ 5,00)</label><input type="radio" name="opcao" id="delivery">
                    </div>
                </div>

                <div class="calculo">
                    <h3>Informações</h3>
                    <div class="produto">
                        <p>Valor do pedido: </p>
                        <span id="valorPedido">
                            <!-- js -->
                        </span>

                        <p>Taxa de entrega: </p>
                        <span id="taxaEntrega">
                            <!-- js -->
                        </span>
                    </div>
                </div>
                <hr>
                <div class="produto">
                    <h3>Total</h3>
                    <span id="mostrarValorTotal">
                        <!-- js -->
                    </span>
                </div>
                <button id="gerarPedido">Gerar pedido</button>
            </div>
        </section>
    </main>
</body>
<script src="./carrinho.js"></script>
<script src="../controller/addCarrinho.js"></script>
</html>